# Build results
/target
Cargo.lock
contract.wasm
contract.wasm.gz

# Binaries
*.wasm
*.wasm.gz

# Cargo+Git helper file (https://github.com/rust-lang/cargo/blob/0.44.1/src/cargo/sources/git/utils.rs#L320-L327)
.cargo-ok

# Text file backups
**/*.rs.bk

# macOS
.DS_Store

# IDEs
*.iml
.idea

# Additional
/local
/int_tests/tests/node_modules
/int_tests/tests/package-lock.json